<input type="email" placeholder="Email" [(ngModel)]="email" />
<input type="password" placeholder="Password" [(ngModel)]="password" />

<input type="button" value="register" (click)="registerWithEmailAndPassword()" />
<input type="button" value="login" (click)="loginWithEmailAndPassword()" />

<input type="button" value="login with google" (click)="loginWithGoogle()" />

<input type="button" value="logout" (click)="logout()" />

<ng-template [ngIf]="!!(auth.authState | async)">
  <div>
    <input type="text" placeholder="Enter Customer Name" [(ngModel)]="customer" />
    <input type="text" placeholder="Location of job" [(ngModel)]="location" />
    <input type="text" placeholder="Enter job type" [(ngModel)]="jobsType" />
    <input type="text" placeholder="Enter Quote" [(ngModel)]="quote" />
    <input type="date" [(ngModel)]="date" />
    <input type="time" [(ngModel)]="time" />
    
    <input type="button" value="confirm" (click)="createjobs()" />
  </div>

  <div>
    <p>Payment Confirmation: </p>
    <input type="text" placeholder="Enter Payment" [(ngModel)]="payment" />
    
    
    <div *ngFor="let job of jobs | async">
      <span>
        {{ job.data.customer }},
        {{ job.data.location }},
        {{job.data.jobsType}},
        {{job.data.date}},
        {{job.data.time}} 
      </span>
      <input type="button" value="confirm Payment" (click)="confirmPayment(job.id)" />
      <input type="button" value="x" (click)="deleteJob(job.id)" />
    </div>
  </div>
</ng-template>

